{% extends 'sysadmin_components/base_component.html' %}
{% load static %}
{% block page_title %}
Manage Course Sessions
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
      <div class="card card-indigo">
              <div class="card-header">
                <h3 class="card-title">Manage Course Sessions</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/add_course_session_save" method="post">
                  {% csrf_token %}
                  <div class="card-body">
                  <div class="form-group">
                    <label>Course Start Date</label>
                    <input type="date" class="form-control" name="course_start_date" placeholder="Course Start Date">
                  </div>
                  <div class="form-group">
                    <label>Course End Date</label>
                    <input type="date" class="form-control" name="course_end_date" placeholder="Course End Date">
                  </div>
                <!-- /.card-body -->
                  <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                  </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-block">Add Course Session</button>
                  </div>
                  </div>
              </form>
      </div>
  </div>
</section>
<!-- /.content -->
{% endblock main_content %}