{% extends 'sysadmin_components/base_component.html' %}
{% load static %}
{% block page_title %}
Student Feedback
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
      <div class="card card-indigo">
              <div class="card-header">
                <h3 class="card-title">Student Feedback</h3>
              </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                  <tr>
                      <th>ID</th>
                      <th>Student ID</th>
                      <th>Student Name</th>
                      <th>Course Name</th>
                      <th>Course Session</th>
                      <th>Message</th>
                      <th>Sent On</th>
                      <th>Reply</th>
                  </tr>
                  {% for student in student_feedback %}
                  <tr>
                      <td>{{ student.id }}</td>
                      <td>{{ student.student_id.id }}</td>
                      <td>{{ student.student_id.user_type.first_name }} {{ student.student_id.user_type.last_name }}</td>
                      <td>{{ student.student_id.course_id.course_name }}</td>
                      <td>{{ student.student_id.course_session_id.session_start_year }} - {{ student.student_id.course_session_id.session_end_year }}</td>
                      <td>{{ student.feedback }}</td>
                      <td>{{ student.created_at }}</td>
                      <td>
                          {% if student.feedback_message == "" %}
                          <button class="btn btn-success ready_open_modal" data-toggle="modal" data-target="#reply_modal">Reply</button>
                          {% else %}
                          {{ student.feedback_message }}
                          {% endif %}
                      </td>
                  </tr>
                  {% endfor %}
              </table>
            </div>
              <!-- /.card-header -->
              <!-- form start -->
            </div>
  </div>
</section>
<!-- Modal -->
  <div class="modal fade" id="reply_modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Reply</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <p>Reply To : <span id="reply_name"></span></p>
            <input type="hidden" id="reply_id" name="reply_id">
            <textarea class="form-control" rows="5" id="reply_message"></textarea>
            <button id="reply_btn" class="btn btn-info btn-block">Reply</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

<!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
<script>
    $(document).ready(function(){
        $(".ready_open_modal").click(function(){
            var id = $(this).parents("tr").children("td:eq(0)").text();
            var name = $(this).parents("tr").children("td:eq(2)").text();
            $("#reply_id").val(id);
            $("#reply_name").text(name);s
        });

        $(document).on("click", "#reply_btn", function(){

            $(this).attr("disabled","disabled")
            $(this).text("Sending Reply...")

            var id = $("#reply_id").val();
            var message = $("#reply_message").val();

            $.ajax({
                url: '{% url "save_student_feedback_reply" %}',
                type: 'POST',
                data: { id: id,
                        message: message }
            })
            .done(function(response){
                console.log(response)
                if(response=="True"){
                    alert("Reply Sent")
                }
                else{
                    alert("Error in Sending Reply")
                }
                location.reload()
            })
            .fail(function(){
                alert("Error in Sending Reply");
            });
        });
    });
</script>
{% endblock custom_js %}