{% extends 'student_components/base_component.html' %}
{% block page_title %}
Student Feedback
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Student Feedback</h3>
          </div>
              <!-- /.card-header -->
              <!-- form start -->
            <form action="{% url 'save_student_feedback' %}" method="post">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Feedback Message</label>
                    <textarea class="form-control" rows="6" name="feedback_message"></textarea>
                  </div>
                <!-- /.card-body -->
                  <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                  </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-block" id="send_feedback_message">Send Feedback Message</button>
              </div>
            </div>
            </form>
        </div>
      </div>
    </section>
    <!-- /.content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Feedback History</h3>
          </div>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Feedback Message</th>
                    <th>Feedback Reply</th>
                </tr>
                {% for row in feedback_data %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.feedback }}</td>
                    <td>{{ row.feedback_reply }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
      </div>
    </section>
{% endblock main_content %}