{% extends 'staff_components/base_component.html' %}
{% block page_title %}
Home
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
         <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ students_count }}</h3>

                <p>My Students</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="{% url 'staff_take_attendance' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ attendance_count }}</h3>

                <p>Total Attendance Taken</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="{% url 'staff_take_attendance' %}" class="small-box-footer">Take Attendance <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ subjects_count }}</h3>

                <p>Subject Count</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
        </div>
         <div class="row">
              <div class="col-lg-6">
              <div class="card card-indigo">
              <div class="card-header">
                <h3 class="card-title">Subject Attendance</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                  <canvas id="barChartSubject" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 321px;" width="642" height="500" class="chartjs-render-monitor"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
              </div>
          </div>
         <div class="row">
              <div class="col-lg-6">
              <div class="card card-indigo">
              <div class="card-header">
                <h3 class="card-title">Student Attendance</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                  <canvas id="barChartStudent" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 321px;" width="642" height="500" class="chartjs-render-monitor"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
              </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
<script>
    $(document).ready(function (){

        var subject_attendance_list = {{ subject_attendance_list }};
        var subject_list = {{ subject_list | safe }};
        var barSubjectChartData = {
          labels  : subject_list,
          datasets: [
            {
              label               : 'Subject Attendance',
              backgroundColor     : 'rgba(60,141,188,0.9)',
              borderColor         : 'rgba(60,141,188,0.8)',
              pointRadius         : false,
              pointColor          : '#3b8bba',
              pointStrokeColor    : 'rgba(60,141,188,1)',
              pointHighlightFill  : '#fff',
              pointHighlightStroke: 'rgba(60,141,188,1)',
              data                : subject_attendance_list
            }
          ]
        }

        var barSubjectChartCanvas = $('#barChartSubject').get(0).getContext('2d')
        var tempSubject = barSubjectChartData.datasets[0]
        barSubjectChartData.datasets[0] = tempSubject

        var barSubjectChartOptions = {
          responsive              : true,
          maintainAspectRatio     : false,
          datasetFill             : false
        }

        var barChartSubject = new Chart(barSubjectChartCanvas, {
          type: 'bar',
          data: barSubjectChartData,
          options: barSubjectChartOptions
        })

        var student_present_list = {{ student_present_list }};
        var student_absent_list = {{ student_absent_list }};
        var student_list = {{ student_list | safe }};
        var barStudentChartData = {
          labels  : student_list,
          datasets: [
            {
              label               : 'Present',
              backgroundColor     : 'rgba(60,141,188,0.9)',
              borderColor         : 'rgba(60,141,188,0.8)',
              pointRadius         : false,
              pointColor          : '#3b8bba',
              pointStrokeColor    : 'rgba(60,141,188,1)',
              pointHighlightFill  : '#fff',
              pointHighlightStroke: 'rgba(60,141,188,1)',
              data                : student_present_list
            },
            {
              label               : 'Absent',
              backgroundColor     : 'rgba(200,141,188,0.9)',
              borderColor         : 'rgba(200,141,188,0.8)',
              pointRadius         : false,
              pointColor          : '#3b8bba',
              pointStrokeColor    : 'rgba(60,141,188,1)',
              pointHighlightFill  : '#fff',
              pointHighlightStroke: 'rgba(60,141,188,1)',
              data                : student_absent_list
            }
          ]
        }

        var barChartCanvas = $('#barChartStudent').get(0).getContext('2d')
        var tempStudent = barStudentChartData.datasets[0]
        barStudentChartData.datasets[0] = tempStudent

        var barStudentChartOptions = {
          responsive              : true,
          maintainAspectRatio     : false,
          datasetFill             : false
        }

        var barStudentChart = new Chart(barChartCanvas, {
          type: 'bar',
          data: barStudentChartData,
          options: barStudentChartOptions
        })

    });
</script>
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-messaging.js"></script>
<script>
    var firebaseConfig = {
        apiKey: "AIzaSyCQ7Eit3cU2z2lVkBTxcYexhkQSWbnJfa8",
        authDomain: "mokalengitlms-2fd3e.firebaseapp.com",
        databaseURL: "https://mokalengitlms-2fd3e.firebaseio.com",
        projectId: "mokalengitlms-2fd3e",
        storageBucket: "mokalengitlms-2fd3e.appspot.com",
        messagingSenderId: "186955124438",
        appId: "1:186955124438:web:8ec8bf1c42a7fb781ac377",
        measurementId: "G-XY21CKDLX7"
    };
    firebase.initializeApp(firebaseConfig);
    const messaging=firebase.messaging();

    function IntitalizeFireBaseMessaging() {
        messaging
            .requestPermission()
            .then(function () {
                console.log("Notification Permission");
                return messaging.getToken();
            })
            .then(function (token) {
                console.log("Token : "+token);
                sendToServer(token);
            })
            .catch(function (reason) {
                console.log(reason);
            });
    }

    messaging.onMessage(function (payload) {
        console.log(payload);
        const notificationOption={
            body:payload.notification.body,
            icon:payload.notification.icon
        };

        if(Notification.permission==="granted"){
            var notification=new Notification(payload.notification.title,notificationOption);

            notification.onclick=function (ev) {
                ev.preventDefault();
                window.open(payload.notification.click_action,'_blank');
                notification.close();
            }
        }

    });
    messaging.onTokenRefresh(function () {
        messaging.getToken()
            .then(function (newtoken) {
                console.log("New Token : "+ newtoken);
                sendToServer(newtoken);
            })
            .catch(function (reason) {
                console.log(reason);
            })
    });

    function sendToServer(token){
         $.ajax({
                url:'{% url 'staff_fcmtoken_save' %}',
                type:'POST',
                data:{token:token},
            })
            .done(function(response){
                if(response=="True"){
                    console.log("Token Save")
                }
                else{
                    console.log("Error in Saving Token")
                }
            });
    }
    IntitalizeFireBaseMessaging();
</script>
{% endblock custom_js %}